body {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

main,
.nav {
    margin-right: 25px;
    margin-left: 25px;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.header__image {
    display: block;
    margin: 0 auto 15px;
    border-radius: 50%;
}

.header,
.nav,
section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d6d6d6;
}


.header__contacts,
.nav__list,
.skills__list,
.education__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__contacts>li {
    margin-right: 20px;
    color: #656565;
    white-space: nowrap;
    display: inline-block
}

.skills__list {
    font-style: italic;
}

.code__example {
    background-color: #f1f1f1;
    font-style: italic;
}

a:link {
    text-decoration: none;
    font-style: italic;
    color: #656565;
}

a:visited {
    color: #2d2d2d;
    text-decoration: none;
}

a:hover {
    color: rgb(168, 134, 92)
}

a:active {
    color: rgb(188, 112, 107)
}

.footer {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.footer__github {
    display: table-cell;
    vertical-align: middle;
}

.footer_logo {
    display: table-cell;
    float: right;
}